---
import Layout from '../layouts/Layout.astro'
---

<Layout>
    <div class="flex flex-col py-4 sm:py-10 md:py-14 lg:py-20 xl:py-24">
        <div class="flex flex-col gap-2 sm:gap-3 md:gap-4 lg:gap-6 xl:gap-8">
            <h1 class="text-4xl italic font-semibold text-center sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl">
                Experimental <br /> decentralized exchange <br /> on <a href="https://minaprotocol.com/" target="_blank" class="text-blue-300 underline">Mina</a>.
            </h1>
            <p class="text-sm text-center sm:text-lg md:text-xl lg:text-2xl xl:text-3xl text-slate-300">
                Create and trade your favorite tokens on Mina <br /> with a seamless experience.
            </p>
        </div>
    </div>
</Layout>
