---
import { ViewTransitions } from 'astro:transitions'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <link
            href="https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />
        <title>Astro</title>
        <ViewTransitions />
        <style is:global>
            input[type='number']::-webkit-inner-spin-button,
            input[type='number']::-webkit-outer-spin-button {
                -webkit-appearance: none;
            }
            input[type='number'] {
                -moz-appearance: textfield;
            }
        </style>
    </head>
    <body class="bg-slate-900 text-white font-['Afacad',sans-serif] flex flex-col min-h-screen">
        <Header />
        <main class="flex flex-col self-center flex-1 w-full max-w-6xl px-4 sm:px-6 h-52">
            <slot />
        </main>
        <Footer />
    </body>
</html>
