---

---

<footer class="flex py-20 px-4 sm:px-6">
    <div class="flex flex-col">
        <p class="font-semibold text-5xl">Xane</p>
        <p>A zero knowledge decentralized exchange.</p>
    </div>
</footer>
