---
import ButtonConnect from './ButtonConnect'
---

<header class="sticky top-0 flex items-center justify-between h-16 px-4 sm:px-6 bg-slate-900">
    <a href="/" class="font-bold text-2xl">Xane</a>
    <ButtonConnect client:idle />
</header>
