---
import IconChart from '../icons/IconChart.astro'
import IconBalance from '../icons/IconBalance.astro'
import ButtonWallet from './ButtonWallet'
---

<header class="sticky top-0 flex items-center justify-between h-16 px-4 sm:px-6 bg-slate-900">
    <a href="/" class="text-3xl italic font-bold">Xane</a>
    <div class="flex items-center gap-3">
        <a
            href="/trade"
            class="flex items-center justify-center bg-blue-500 rounded-full w-9 h-9 hover:bg-blue-400 duration-75"
        >
            <IconChart />
        </a>
        <a
            href="/balances"
            class="flex items-center justify-center bg-blue-500 rounded-full w-9 h-9 hover:bg-blue-400 duration-75"
        >
            <IconBalance />
        </a>
        <ButtonWallet client:idle transition:persist />
    </div>
</header>
