---
import IconChart from '../icons/IconChart.astro'
import IconBalance from '../icons/IconBalance.astro'
import ButtonWallet from './ButtonWallet'
---

<header class="sticky top-0 flex items-center justify-between h-16 px-4 sm:px-6 bg-slate-900">
    <a href="/" class="text-2xl italic font-bold">Xane</a>
    <div class="flex items-center gap-3">
        <a href="/trade" class="flex items-center justify-center w-10 h-10 bg-blue-500 rounded-full hover:bg-blue-400">
            <IconChart />
        </a>
        <a
            href="/balance"
            class="flex items-center justify-center w-10 h-10 bg-blue-500 rounded-full hover:bg-blue-400"
        >
            <IconBalance />
        </a>
        <ButtonWallet client:idle transition:persist />
    </div>
</header>
